@import '@fontsource/fira-mono';
@import "tailwindcss";


:root {
	--font-body: 'Fira Mono', monospace;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #0d0e11;
	--color-bg-1: #0d0e11;
	--color-bg-2: #0d0e11;
	--color-theme-1: #ef6748;
	--color-theme-2: #ef6748;
	--color-text: #f4f0e8;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background: var(--color-bg-1);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
